<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Acceso SpringChat</title>
	<link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>

<body>

	<h1>SpringChat</h1>

	<div th:if="${param.error}" class="alerta">
		    <span>Usuario o contraseña incorrectos</span>
		</div>
		<div th:if="${param.logout}" class="exito">
		    <span>Has cerrado sesión correctamente</span>
		</div>

		<div th:if="${error}" class="alerta">
			<span th:text="${error}"></span>
		</div>
		<div th:if="${exito}" class="exito">
			<span th:text="${exito}"></span>
		</div>

		<div class="container">
			<div class="card">
				<h2 th:text="#{login.titulo}">Iniciar Sesión</h2>
				<form th:action="@{/login}" method="post">
				    <input type="text" name="nombre" th:placeholder="#{login.usuario}" required>
				    <input type="password" name="contrasena" th:placeholder="#{login.contrasena}" required>
				    <button type="submit" class="btn-login" th:text="#{login.boton.entrar}">Entrar</button>
				</form>
			</div>

			<div class="card">
				<h2 th:text="#{login.registro.titulo}">Registrarse</h2>
				<p th:text="#{login.registro.pregunta}">¿Nuevo aquí?</p>
				<form th:action="@{/register}" method="post">
				        <input type="text" name="nombre" th:placeholder="#{login.usuario}" required>
				        
				        <input type="email" name="email" placeholder="Correo electrónico" required>
				        
				        <input type="password" name="contrasena" th:placeholder="#{login.contrasena}" required>
				        <button type="submit" class="btn-register" th:text="#{login.boton.crear}">Crear Cuenta</button>
				    </form>
			</div>
		</div>

		<div style="text-align: right; padding: 10px;">
		    <a th:href="@{/(lang=es)}">🇪🇸 Español</a> | 
		    <a th:href="@{/(lang=en)}">🇬🇧 English</a>
		</div>
		
</body>

</html>